.footer {
    padding-top: 71px;
    padding-bottom: 136px;
    
    background: ffffff;
    text-align: center;
}

.footer__title {
    color: var(--Black, #212429);

    /* h2 */
    font-family: Inter;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px; /* 126.316% */
}

.footer__descr {
    width: 640px;
    margin: 32px auto 0;

    color: var(--Black, #212429);

    /* p */
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }